.product .text h3 {
    font-size: 20px !important;
    text-align: center !important;
    margin-top: 20px;
    margin-bottom: 12px;

}

.product .text h3 a:hover {
   color: #ccc !important;
}