.nav-logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    border: 6px solid #cfd0da;
}

.footer-logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    border: 6px solid #cfd0da;
}

.home-slider.owl-carousel{
    background-color:#f8f9fa;
    /* background-color: #75c247; */
}
nav .collapse.navbar-collapse .navbar-nav .nav-item a{
    font-weight: bolder ;
    font-size:  14px;
    transition: all .5s ease-in-out;
    color: #227093;
}
nav .collapse.navbar-collapse .navbar-nav .nav-item a:hover{
    color:  #75c247;
    transform: scale(1.1);
}
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu{
    background-color:rgba(114, 148, 178,.8);
   
}
nav .nav-item .dropdown-menu .dropdown-item:hover{

    color: #8eec57 !important;
}
.icon-shopping_cart , .icon-user-md{
    font-size:  28px;
    color: #6d91b0;
  
}
.icon-shopping_cart:hover , .icon-user-md:hover{
    color: #75c247;
   
}

/* fixed navbar  */
.ftco-navbar-light.scrolled .nav-item.cta > a{
   background-color: white;
    /* color: rgb(111 99 239); */
    
}
/* .icon-shopping_cart:before ,.icon-user-md:before{
    color: rgb(111 99 239) ;
} */
/* .icon-shopping_cart:before:hover ,.icon-user-md:before:hover{
    color: #75c247 ;
} */

.ftco-navbar-light.scrolled .nav-item.active > a, .ftco-navbar-light.scrolled .nav-item .nav-link.active{
    color:#75c247 !important ;
    
}
.ftco-navbar-light.scrolled .nav-item > a  {
    color:#227093 !important;
}
.ftco-navbar-light.scrolled .nav-item > a:hover{
    color:#75c247 !important ;
}
.ftco-navbar-light.scrolled .nav-item.cta > a{
    background-color: ghostwhite;
}
.ftco-navbar-light.scrolled .nav-item.cta > a:hover{
    background-color: rgb(186, 187, 204);
}
/* slider */
/* slider button*/
#home-section .btn-custom , .slider-item .btn-custom{
    background-color:#6d91b0;
   padding: 10px 30px;
   font-size: large;
   border-radius: 8px;

}
#home-section .btn-custom:hover , .slider-item .btn-custom:hover{
    background-color:   #75c247;
   
}


 
 


/* footer */

.ftco-footer{
    background-color:#5f8aaf;
    padding-bottom: 5px;
}
.social-title{
    font-weight: bolder;
    color: rgb(197, 195, 195);
}
.ftco-footer-social li a{
    background-color: cornflowerblue;
}
.ftco-footer-social li a:hover{
    background-color:  #8cdb5d;
}

footer .mouse .mouse-icon {
    background-color:#75c247 ;
    border: 1px solid rgb(224, 223, 223);
}
footer .mouse .mouse-icon .icon-arrow-up{
    color: white;
}


/*********************************************************************************************/

 .product .img-prod img {
    height:200px;
    width:150px;
    text-align: center;
    position: relative;
    top:15%;
    left: 20%;
}
 .product .img-prod{
    background-color: #f3f3f3;
    height: 300px;
}
.product .img-prod .overlay{
    background-color: #75c247;
}
.offers .product .status {
background-color: rgb(172, 25, 25) !important;
color: white !important;
height: 135px !important;
font-size: 22px !important;
font-weight: 400 !important;
}

.product .text .bottom-area a.add-to-cart{
    background-color: #227093;

}
.product .text .bottom-area a.add-to-cart:hover, .product .text .bottom-area a.buy-now:hover{
    background-color: #75c247 ;
}


/* //////////////////////////////////****************************************************** */
/* search section */

/*search box css start here*/
.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.search-sec .form-control option {
    background-color: rgba(114, 148, 178,1);
    color: white;
}
/* .search-sec .form-control option:hover{
    background-color: yellowgreen;
} */
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.search-btn{
    background-color:#2375b8;
}
.search-btn:hover{
    background-color:#75c247 ;
}
@media (min-width: 992px){
    .search-sec{
        position: relative;
        top: -114px;
        background: rgba(119, 122, 126, .2)
    }
}

/* **************************************************************************** */

.ftco-section .btn{
    background: linear-gradient(to right, #910404, #c32d2d, #f04a33);
}

/* ******************************************************************************* */

/* pharmacies */
.pharmacy .img-prod img {
    height:100px;
  
 
    text-align: center;
    position: relative;
    top:0;
    left:0;
}
 .pharmacy .img-prod{
    background-color: #f3f3f3;
    height: 300px;
}


