
.pharmacy-info{
    background: linear-gradient(to right, #261296, #442dc3, #5c33f0);
    padding: 30px;

}
.pharmacy-info h2{
    text-align: center;
}

.pharmacy-info div{
    color: white;
}

.pharmacy-info div p{
    font-weight: bold;
    text-transform: capitalize;
}
.pharmacy-info div p span{
    font-weight: normal;
    color: rgb(148, 147, 147);
}